<!-- Landing Section: Responsive Design Complete -->
<section>
  <div id="landing">
    <div class="content-container">
      <div id="header-and-button">
        <h1 id="landing-header">
          <span>Grow</span> with your home.</h1>
        <button class="btn btn-lg contact-btn">Contact Me</button>
      </div>
      <div class="arrow-icon">
        <i class="fa fa-sort-down fa-3x"></i>
      </div>
    </div>
  </div>
</section>

<!-- Fast Facts Section: Responsive Design Complete -->
<section id="fast-facts">
  <div class="arrow-down"></div>
  <div class="images-container">
    <div class="tile">
      <h1>Professional</h1>
      <i class="fa fa-briefcase fa-4x"></i>
      <div class="underline"></div>
      <p>Architechtual Engineering gave me years of experience in the development and management of any and all construction
        projects.
      </p>
    </div>
    <div class="tile">
      <h1>Personal</h1>
      <i class="fa fa-handshake-o fa-4x"></i>
      <div class="underline"></div>
      <p>I've worked with large scale companies and individuals in bringing their vision to life. I work with you to bring exactly
        what you envision to life!</p>
    </div>
    <div class="tile">
      <h1>Passion</h1>
      <i class="fa fa-heart fa-4x"></i>
      <div class="underline"></div>
      <p>I've built this company because I firmly believe if you love what you do, you won't work a day in your life. My passion
        is helping you grow with your home.</p>
    </div>
  </div>
</section>

<section id="sm-about">
  <div class="parallax-bg">
    <h1>815 W. Gregory Blvd, Kansas City, MO</h1>
  </div>
  <div id="sm-about-content-box">
    <h1>Dedicated to Design</h1>
    <div class="underline"></div>
    <img id="prof-pic" src="../../../assets/profilepic.png" alt="">
    <p>The love of interior decorating, and design, and quality construction resulted in {{'{'}}Budget 2 Beautiful
      Designs{{'}'}}. <span>This company was built to provide creative quality to our customers. There's plenty of creative designers
      and quality contractors, however Budget to Beautiful was founded on the
      idea that the customer should have a design that's created with constructability and functionality in mind.</span></p>
  </div>
</section>

<section id="contact">
  <div id="info-container">
    <img src="../../../assets/b2b.png" alt="logo">
    <p>
        Budget2Beautiful designs est. 2014 under sole proprietorship, any use of materials i.e. website design, consultation
        material, development strategies or anything contributing to the processes, goals and / or assets of Budget2Beautiful
        are protected under copyright law and registered trademark.
    </p>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Gallery</a></li>
    </ul>
  </div>
  <div id="form-container">
    <h3>Get in Touch</h3>
    <form id="contact-form">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name-field" placeholder="Full Name" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email-field" placeholder="Eamil Address" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="phone number">Phone Number</label>
          <input type="text" class="form-control" id="phone-field" placeholder="Phone Number (Optional)">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="message">Message</label>
          <textarea class="form-control" id="message-field" rows="3" placeholder="What can I help you with?"></textarea>
        </div>
      </div>
      <button type="submit" class="col-md-12 btn btn-lg contact-btn">Submit</button>
    </form>
  </div>
</section>