<section id="services">
  <h1>How I Can Help.</h1>
  <div class="services-container">
    <div class="box1" id="interior-design">
      <div class="top">
        <h2>Home Remodel</h2>
      </div>
      <div class="bottom">
        <p>
            Remodling is no small task, it requires experience, motivation and an eye for design. When you work with me, I include you
            in the entire process to make absolutely sure the vision you have comes to life. Using the styles you like, I will
            build you a comprehensive road map that will take the remodel from start to finish.
        </p>
      </div>
    </div>
    <div class="box2" id="home-remodel">
      <div class="top-mid">
          <h2>Real Estate</h2>
      </div>
      <div class="bottom-mid">
        <p>
            Buying or selling a home can be a daunting task, meeting with a realator, scheduling open houses, and so much more. By using
            me as your agent, you are hiring someone with years of experience in the industry who will fight for what you want.
            I will always have your best interests in mind and will be with you every step of the way.
        </p>
      </div>
    </div>
    <div class="box1" id="real-estate">
      <div class="top">
          <h2>Interior Design</h2>
      </div>
      <div class="bottom">
        <p>
            I firmly belive that the inside of a home is just as important as the outside when it comes to expressing yourself. Colors,
            patterns, funishings, all play a significant role in displaying who you are and what you love. I am passionate about interior 
            design and love helping people just like you bring out themselves in their homes.
        </p>
      </div>
    </div>
  </div>
</section>
