#current-works {
  height: 100%;
  width: 100%;
  background-image: url('../../../../../assets/home_renovation.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#temp-banner {
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(0,0,0,0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#temp-banner p {
  font-family: 'pompiere', cursive;
  color: #f5f5f5;
  font-size: 3em;
}