.contact-btn {
  font-family: 'Pompiere', cursive;
  background: transparent;
  border: 3px solid #00b195;
  padding: 0 0.3em;
  color: #f5f5f5;
}

img {
  width: 50%;
}

a {
  color: #f5f5f5;
  text-decoration: none
}

h1 {
  font-family: 'kranky', cursive;
  color: #f5f5f5;
  font-weight: bold;
  padding-left: 20px;
  letter-spacing: 2.5px;
}


/* ========================================================
                      HEADER SECTION 
======================================================== */

/* CONTAINER 1 */

#header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-box {
  height: 100%;
  width: 40%;
  background: #194769;
  display: flex;
}

.header-with-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: #00b195;
}

.stretch-box-up {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #00587a;
}

/* CONTAINER 2 */

.page-title-and-icons {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.page-title {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url('../../../assets/cb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* CONTAINER 3 */

.icons {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.stretch-box-down {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  background: #00587a;
  align-self: flex-end;
}

.inner-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 34%;
  height: 100%;
  align-self: flex-end;
  background: #373c42;
}

/* ========================================================
                      PART 1 BIO SECTION
======================================================== */


#bio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background: #f6efe5;
}

.bio-part-1 {
  position: absolute;
  padding-top: 6%;
  font-family: 'pompiere', cursive;
  font-size: 1.3em;
  left: 10%;
  right: 50%;
}

.gregory-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50%;
}

.append-sbd {
  width: 32.75%;
  height: 100%;
  background: rgba(0,88,122,0.5);
}

.location-image-and-contact {
  height: 50%;
  width: 60%;
  background-image: url('../../../assets/carousel3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #f5f5f5;
  font-family: 'pompiere', cursive;
  font-size: 1.3em;
  left: 50px;
  margin-top: 2%;
  width: 30%;
  height: 40%;
  background: #00587a;
}

.location img {
  height: 30%;
}

.contact {
  text-align: center;
  color: #f5f5f5;
  font-family: 'Pompiere', cursive;
  font-size: 2em;
  height: 40%;
  width: 33%;
  background: rgba(0,88,122,0.5);
}

.connector {
  position: absolute;
  top: 100%;
  height: 180%;
  width: 30%;
  background: rgba(0,177,149,0.5);
}

/* ===============================================================
                  F A M I L Y   S E C T I O N
================================================================*/

#me {
  height: 80%;
  width: 100%;
  background: #f6efe5;
}

svg {
  width: 80%;
  position: absolute;
  padding-top: 13%;
  z-index: 1;
  stroke: rgba(0,177,149,0.5);
}

.my-life {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 45px 50px 0 57px;
}

.the-team {
  height: 100%;
  width: 15%;
  background: #00b195;
  overflow: hidden;
  z-index: 1;
}

.the-team-header {
  display: none;
}

.the-team .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 45%;
  width: 100%;
  background: #373c42;
  padding-top: 15px;
}

.the-team .top h5 {
  font-family: "pompiere", cursive;
  color: #f5f5f5;
  text-align: center;
}

.the-team .bottom i {
  background: #f5f5f5;
  padding: 6px;
  border: 3px solid #00b195;
  border-radius: 50%;
  position: relative;
  left: 35%;
  top: -30px;
}

.the-team .bottom p{
  color: #f5f5f5;
  font-family: 'pompiere', cursive;
  font-size: 1.4em;
  text-align: center;
}

.bio-part-2 {
  position: relative;
  margin-top: 60px;
  top: 10%;
}

.bio-part-2 p {
  float: right;
  width: 50%;
  padding: 20px;
  background: #194769;
  color: #f5f5f5;
  font-size: 1.5em;
  font-family: 'pompiere', cursive;
  text-align: center;
}

/* FOOTER SECTION */

#footer {
  border-top: 4px solid #194769;
  height: 50%;
  width: 100%;
  background-image: url('../../../assets/cb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer-contents {
  padding-top: 7%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  color: #f5f5f5;
}

.footer-section h4 {
  font-family: 'kranky', cursive;
}

.footer-section p {
  font-family: 'pompiere', cursive;
  font-size: 1.7em;
}

.footer-section a {
  line-height: 1em;
}

/* ===============================================================
                  M E D I A     Q U E R I E S
================================================================*/

@media screen and (max-width: 575px){

  svg { 
    display: none;
  }

  /* HOME SECTION */
  #header {
    flex-direction: column;
  }
  
  .header-box {
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  .header-with-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .page-title-and-icons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .stretch-box-up {
    padding-top: 15%;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background: #0f3057;
  }

  /* ABOUT PAGE */
  
  #bio {
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .bio-part-1 {
    height: 20%;
    position: unset;
    padding: 10%;
    width: 100%;
  }

  .gregory-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
  }

  .append-sbd {
    display: none;
  }

  .location-image-and-contact {
    height: 50%;
    width: 100%;
    background-image: url('../../../assets/carousel2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location {
    display: none;
  }

  .contact {
    text-align: center;
    color: #f5f5f5;
    font-family: 'Pompiere', cursive;
    font-size: 2em;
    height: unset;
    width: unset;
    background: unset;
  }


  /* FAMILY SECTION */
  #me {
    height: auto;
  }

  .my-life {
    padding: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .the-team {
    width: 100%;
  }

  .the-team-header {
    display: unset;
    font-family: 'Kranky', cursive;
  }

  .the-team .top {
    padding-top: 6px;
  }

  .the-team .top h5 {
    padding: 0;
  }

  .the-team .bottom i {
    display: none;
  }

  .the-team .bottom p {
    padding-top: 10px;
  }

  .bio-part-2 {
    position: unset;
    margin: 0
  }

  .bio-part-2 p {
    float: unset;
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  /* FOOTER SECTION */

  #footer {
    border-top: 4px solid #194769;
    height: 50%;
    width: 100%;
    background-image: url('../../../assets/cb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .footer-contents {
    padding-top: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: unset;
    flex-basis: unset;
    color: #f5f5f5;
  }
  
  .footer-section h4 {
    font-family: 'kranky', cursive;
  }
  
  .footer-section p {
    font-family: 'pompiere', cursive;
    font-size: 1.7em;
  }
  
  .footer-section a {
    line-height: 1em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px){


  /* ABOUT PAGE */
  
  .bio-part-1 {
    text-align: center;
    height: 20%;
    position: unset;
    padding: 5% 5% 10% 5%;
    width: 100%;
  }

  .append-sbd {
    display: none;
  }

  .location-image-and-contact {
    height: 50%;
    width: 100%;
    background-image: url('../../../assets/carousel2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location {
    display: none;
  }

  .contact {
    text-align: center;
    color: #f5f5f5;
    font-size: 2em;
    height: unset;
    width: unset;
    background: unset;
  }

  /* FAMILY SECTION */
  #me {
    height: auto;
  }

  svg {
    display: none;
  }
  .my-life {
    padding: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .the-team {
    width: 100%;
  }

  .the-team-header {
    display: unset;
    font-family: 'Kranky', cursive;
  }

  .the-team .top {
    padding-top: 6px;
  }

  .the-team .top h5 {
    padding: 0;
  }

  .the-team .bottom i {
    display: none;
  }

  .the-team .bottom p {
    padding-top: 10px;
  }

  .bio-part-2 {
    position: unset;
    margin: 0
  }

  .bio-part-2 p {
    float: unset;
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  /* FOOTER SECTION */
  .footer-contents {
    flex-direction: row;
    width: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    svg {
      display: none;
    }
    /* ABOUT PAGE */

    #bio {
      height: 60%;
    }
  
    .bio-part-1 {
      text-align: center;
      height: auto;
      position: unset;
      padding: 5% 5% 10% 5%;
      width: 100%;
    }
  
    .append-sbd {
      display: none;
    }
  
    .location-image-and-contact {
      height: 50%;
      width: 100%;
      background-image: url('../../../assets/carousel2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .gregory-image {
      display: none;
    }
    .location {
      display: none;
    }
  
    .contact {
      text-align: center;
      color: #f5f5f5;
      font-size: 2em;
      height: unset;
      width: unset;
      background: unset;
    }
  
    /* FAMILY SECTION */
    #me {
      height: auto;
    }
  
    .my-life {
      padding: 3% 7%;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .the-team {
      width: 100%;
    }
  
    .the-team-header {
      display: unset;
      font-family: 'Kranky', cursive;
    }
  
    .the-team .top {
      padding-top: 6px;
    }
  
    .the-team .top h5 {
      padding: 0;
    }
  
    .the-team .bottom i {
      display: none;
    }
  
    .the-team .bottom p {
      padding-top: 10px;
    }
  
    .bio-part-2 {
      position: unset;
      margin: 0
    }
  
    .bio-part-2 p {
      float: unset;
      width: 100%;
      padding: 20px;
      margin: 0;
    }
  
    /* FOOTER SECTION */
    #footer {
      height: auto;
      padding-bottom: 20px;
    }

    .footer-contents {
      flex-direction: row;
      width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  #me {
    height: 50%;
  }
  .bio-part-2 {
    top: 5vh;
    height: auto;
  }

  .bio-part-2 p {
    margin: 0;
    font-size: 1.2em;
  }
  svg {
    width: 80%;
    position: absolute;
    padding-top: 30vh;
    z-index: 1;
    stroke: rgba(0,177,149,0.5);
  }

  .connector {
    height: 155%;
  }

  .the-team {
    height: 30vh;
  }

  .the-team .bottom i {
    background: #f5f5f5;
    padding: 6px;
    border: 3px solid #00b195;
    border-radius: 50%;
    position: relative;
    left: 30%;
    top: -30px;
  }

  #footer {
    padding-bottom: 20px;
    height: auto;
  }
  
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {

  #me {
    height: 60%;
  }

  .the-team {
    height: 40vh;
  }

  .bio-part-1 {
    padding-top: 1em;
    font-size: 1.6em;
  }
  .contact {
    height: 20vh;
  }

  .bio-part-2 {
    top: 10vh;
  }

  .bio-part-2 p {
    font-size: 1.4em;
  }

  .path-down {
    left: 13.5vw;
    top: 235vh;
    height: 30vh;
  }

  #footer {
    height: auto;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1557px) {

  svg {
    padding-top: 35vh;
  }

  .connector {
    height: 230%;
  }

  .bio-part-1 {
    font-size: 1.8em;
  }

  .bio-part-2 p {
    font-size: 2.2em;
  }

  #footer {
    height: auto;
    padding-bottom: 20px;
  }
}