<!-- Header About Us Page -->
<!-- container1 header with logo -->
<!-- container2 page title -->
<!-- container3 icons -->
<section id="header">
  <div class="header-box">
    <div class="header-with-logo">
      <div class="stretch-box-up">
        <img src="../../../assets/b2b_green.png" alt="">
      </div>
    </div>
  </div>
  <div class="page-title-and-icons">
    <div class="page-title">
      <h1>{{'{'}}About Us{{'}'}}</h1>
    </div>
    <div class="icons">
      <div class="inner-box">
        <img src="../../../assets/house.svg" alt="">
      </div>
      <div class="stretch-box-down">
        <img src="../../../assets/keys.svg" alt="">
      </div>
      <div class="inner-box">
        <img src="../../../assets/sign.svg" alt="">
      </div>
    </div>
  </div>
</section>


<section id="bio">
  <p class="bio-part-1">
    The love of interior decorating, and design, and quality construction has been combined into yours truly. This company was
    built to provide creative quality to our customers. There's plenty of creative designers and plenty of quality contractors
    to build your dreams into a reality, however Budget to Beautiful was founded on the idea that the customer should have
    a design that's created with constructability and functionality in mind throughout the journey.
  </p>
  <div class="gregory-image">
    <div class="append-sbd">

    </div>
  </div>
  <div class="location-image-and-contact">
    <div class="location">
      <img src="../../../assets/location.svg" alt="">
      <p>Lets find your dream home, together.</p>
      <div class="connector"></div>
    </div>
    <div class="contact">
      <p>No place like home</p>
      <button class="btn btn-lg contact-btn">Contact Me</button>
    </div>
  </div>
</section>

<section id="me">
  <div class="my-life">
    <div class="the-team">
      <div class="top">
        <h5>Brittany Harrington</h5>
        <h5>Designer</h5>
      </div>
      <div class="bottom">
        <i class="fa fa-user-o fa-3x"></i>
      </div>
    </div>
    <div class="the-team">
      <div class="top">
        <h5>Max Nelson</h5>
        <h5>The Nerd</h5>
      </div>
      <div class="bottom">
        <i class="fa fa-user-o fa-3x"></i>
      </div>
    </div>
    <div class="the-team">
      <div class="top">
        <h5>Eggs Harrington</h5>
        <h5>Secretary</h5>
      </div>
      <div class="bottom">
        <i class="fa fa-user-o fa-3x"></i>
      </div>
    </div>
    <div class="the-team">
      <div class="top">
        <h5>Boone Nelson</h5>
        <h5>Accountant</h5>
      </div>
      <div class="bottom">
        <i class="fa fa-user-o fa-3x"></i>
      </div>
    </div>
  </div>
</section>


<!-- <div id="svg-img">
    <svg class="cover-shape" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100 100">
      <polygon class="svg--lg" fill="white" points="0,0 46,0 46,80 55,95 70,80  80,100 0,100"/>
      <polyline class="line-path" points="10,30 55,100 70,85 77,100" style="fill:none;stroke:black; stroke-width:0.5"></polyline>
    </svg>
  </div> -->